In [ ]:
#Data Cleaning & Pre-processing for an Internal Audit 


import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from dateutil import parser

#Importing a CSV file into a python dataframe called df

df = pd.read_csv('/Users/danon/Downloads/messy_internal_audit_data.csv')


#Creating a copy of the raw data 

data = df.copy()
data

# As we can see from the DataFrame below, there are many inconsistencies, missing values, and formatting issues — 
# typical of internal audit data collected from multiple departments — that require thorough cleaning before analysis.

df

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,RetailBank,Sydney,unknown,Y,2022-02-05,F,Medium,Follow up
1,E10001,Retail Banking,Brisbane,47.92603548243223,Yes,2021-07-17,TRUE,Med,NaN
2,E10002,Operations,Adelaide,59.715328071510385,Pending,2022-10-22,TRUE,Critical,Follow up
3,E10003,Internal Audit,Perth,72.84544784612038,N,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.48769937914996,Pending,2022-02-03,NaN,Med,Follow up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.03517589721191,Pending,2021-07-17,F,NaN,Follow up
1006,E10626,Operations,Melbourne,35.15592769612129,NaN,2022-09-24,T,Med,NaN
1007,E10513,Risk & Compliance,Adelaide,36.386545069376034,Y,2023-06-28,NaN,Low,Needs review
1008,E10859,Risk & Compliance,Perth,59.493977266332664,NaN,2023-04-28,FALSE,NaN,Follow up
1009,E10136,Wealth Management,Sydney,38.251200614956446,N,2023-02-13,No,Medium,Incomplete

In [3]:
#Normalising the 'Department' Column

df['Department'].unique()

# There are inconsistencies in the Department Row - 'RetailBank' and 'Retail Banking'. 
# It will be normalised together into 'Retail Banking' using dictionary.


clean_department = {'RetailBank' : 'Retail Banking'}

data['Department'] = data['Department'].replace(clean_department)

data

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,unknown,Y,2022-02-05,F,Medium,Follow up
1,E10001,Retail Banking,Brisbane,47.92603548243223,Yes,2021-07-17,TRUE,Med,NaN
2,E10002,Operations,Adelaide,59.715328071510385,Pending,2022-10-22,TRUE,Critical,Follow up
3,E10003,Internal Audit,Perth,72.84544784612038,N,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.48769937914996,Pending,2022-02-03,NaN,Med,Follow up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.03517589721191,Pending,2021-07-17,F,NaN,Follow up
1006,E10626,Operations,Melbourne,35.15592769612129,NaN,2022-09-24,T,Med,NaN
1007,E10513,Risk & Compliance,Adelaide,36.386545069376034,Y,2023-06-28,NaN,Low,Needs review
1008,E10859,Risk & Compliance,Perth,59.493977266332664,NaN,2023-04-28,FALSE,NaN,Follow up
1009,E10136,Wealth Management,Sydney,38.251200614956446,N,2023-02-13,No,Medium,Incomplete

In [ ]:
#Normalising the 'Risk_Score' Column

# The 'Risk_Score' column is in an object datatype, with 'unknown rows'. It also has over 10 decimal places.
# This will be normalised to become a float numerical data type to enable calculations to be performed on it. 
# 'unknown' or empty rows will be formatted as NaN
# The 14 decimal places will be reduced down to just 2


data['Risk_Score'].unique()

def clean_riskscore(score):
    if pd.isnull(score) or str(score).strip().lower() == '':
        return np.nan


    try:
        return round(float(score),2)
    except (ValueError, TypeError):
        return np.nan
    
data['Risk_Score'] = data['Risk_Score'].apply(clean_riskscore)
data

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,NaN,Y,2022-02-05,F,Medium,Follow up
1,E10001,Retail Banking,Brisbane,47.93,Yes,2021-07-17,TRUE,Med,NaN
2,E10002,Operations,Adelaide,59.72,Pending,2022-10-22,TRUE,Critical,Follow up
3,E10003,Internal Audit,Perth,72.85,N,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.49,Pending,2022-02-03,NaN,Med,Follow up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.04,Pending,2021-07-17,F,NaN,Follow up
1006,E10626,Operations,Melbourne,35.16,NaN,2022-09-24,T,Med,NaN
1007,E10513,Risk & Compliance,Adelaide,36.39,Y,2023-06-28,NaN,Low,Needs review
1008,E10859,Risk & Compliance,Perth,59.49,NaN,2023-04-28,FALSE,NaN,Follow up
1009,E10136,Wealth Management,Sydney,38.25,N,2023-02-13,No,Medium,Incomplete

In [5]:

#Normalising the 'Audit_Finding' Column


data['Audit_Finding'].unique()

#In the 'Audit_Finding' column, there are inconsistent formatting, such as 'Y' for 'Yes' and 'N' for 'No'


clean_auditfinding = {'Y':'Yes', 'N':'No'}

data['Audit_Finding'] = data['Audit_Finding'].replace(clean_auditfinding)
data

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,NaN,Yes,2022-02-05,F,Medium,Follow up
1,E10001,Retail Banking,Brisbane,47.93,Yes,2021-07-17,TRUE,Med,NaN
2,E10002,Operations,Adelaide,59.72,Pending,2022-10-22,TRUE,Critical,Follow up
3,E10003,Internal Audit,Perth,72.85,No,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.49,Pending,2022-02-03,NaN,Med,Follow up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.04,Pending,2021-07-17,F,NaN,Follow up
1006,E10626,Operations,Melbourne,35.16,NaN,2022-09-24,T,Med,NaN
1007,E10513,Risk & Compliance,Adelaide,36.39,Yes,2023-06-28,NaN,Low,Needs review
1008,E10859,Risk & Compliance,Perth,59.49,NaN,2023-04-28,FALSE,NaN,Follow up
1009,E10136,Wealth Management,Sydney,38.25,No,2023-02-13,No,Medium,Incomplete

In [6]:
#The 'Finding_Date' Column is in an object datatype. Ideally, it should be in a datetime datatype to enable proper data handling 
# and to avoid errors


data['Finding_Date'] = pd.to_datetime(data['Finding_Date'])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       1010 non-null   object
 1   Department        1010 non-null   object
 2   Location          1010 non-null   object
 3   Risk_Score        989 non-null    float64
 4   Audit_Finding     841 non-null    object
 5   Finding_Date      1010 non-null   datetime64[ns]
 6   Resolved          764 non-null    object
 7   Control_Weakness  712 non-null    object
 8   Comments          690 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 71.1+ KB

In [ ]:
#Normalising the 'Resolved' Column

#There are inconsistent formatting in the 'Resolved' column, as shown below
# array(['F', 'TRUE', 'No', nan, 'Yes', 'T', 'FALSE']

data['Resolved'].unique()

clean_resolved = {'F':'No', 'TRUE':'Yes', 'FALSE':'No', 'T':'Yes'}

data['Resolved'] = data['Resolved'].replace(clean_resolved)

data

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,NaN,Yes,2022-02-05,No,Medium,Follow up
1,E10001,Retail Banking,Brisbane,47.93,Yes,2021-07-17,Yes,Med,NaN
2,E10002,Operations,Adelaide,59.72,Pending,2022-10-22,Yes,Critical,Follow up
3,E10003,Internal Audit,Perth,72.85,No,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.49,Pending,2022-02-03,NaN,Med,Follow up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.04,Pending,2021-07-17,No,NaN,Follow up
1006,E10626,Operations,Melbourne,35.16,NaN,2022-09-24,Yes,Med,NaN
1007,E10513,Risk & Compliance,Adelaide,36.39,Yes,2023-06-28,NaN,Low,Needs review
1008,E10859,Risk & Compliance,Perth,59.49,NaN,2023-04-28,No,NaN,Follow up
1009,E10136,Wealth Management,Sydney,38.25,No,2023-02-13,No,Medium,Incomplete

In [8]:
#Normalised inconsistent formatting in the 'Control_Weakness' column

data['Control_Weakness'].unique()

clean_weakness = {'Med' : 'Medium'}

data['Control_Weakness'] = data['Control_Weakness'].replace(clean_weakness)
data

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,NaN,Yes,2022-02-05,No,Medium,Follow up
1,E10001,Retail Banking,Brisbane,47.93,Yes,2021-07-17,Yes,Medium,NaN
2,E10002,Operations,Adelaide,59.72,Pending,2022-10-22,Yes,Critical,Follow up
3,E10003,Internal Audit,Perth,72.85,No,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.49,Pending,2022-02-03,NaN,Medium,Follow up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.04,Pending,2021-07-17,No,NaN,Follow up
1006,E10626,Operations,Melbourne,35.16,NaN,2022-09-24,Yes,Medium,NaN
1007,E10513,Risk & Compliance,Adelaide,36.39,Yes,2023-06-28,NaN,Low,Needs review
1008,E10859,Risk & Compliance,Perth,59.49,NaN,2023-04-28,No,NaN,Follow up
1009,E10136,Wealth Management,Sydney,38.25,No,2023-02-13,No,Medium,Incomplete

In [9]:
#Normalising the 'Comments' Column

clean_comments = {'Follow up':'Follow-Up', 'Needs review': 'Needs Review'}

data['Comments'] = data['Comments'].replace(clean_comments)
data

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,NaN,Yes,2022-02-05,No,Medium,Follow-Up
1,E10001,Retail Banking,Brisbane,47.93,Yes,2021-07-17,Yes,Medium,NaN
2,E10002,Operations,Adelaide,59.72,Pending,2022-10-22,Yes,Critical,Follow-Up
3,E10003,Internal Audit,Perth,72.85,No,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.49,Pending,2022-02-03,NaN,Medium,Follow-Up
...,...,...,...,...,...,...,...,...,...
1005,E10678,Internal Audit,Perth,64.04,Pending,2021-07-17,No,NaN,Follow-Up
1006,E10626,Operations,Melbourne,35.16,NaN,2022-09-24,Yes,Medium,NaN
1007,E10513,Risk & Compliance,Adelaide,36.39,Yes,2023-06-28,NaN,Low,Needs Review
1008,E10859,Risk & Compliance,Perth,59.49,NaN,2023-04-28,No,NaN,Follow-Up
1009,E10136,Wealth Management,Sydney,38.25,No,2023-02-13,No,Medium,Incomplete

In [ ]:
#Polishing Up the Data Types of Every Column

#Lastly we will convert certain columns from the object datatype to a categorical data type, as it provides several benefits

categorical_cols = ['Department', 'Location', 'Audit_Finding', 'Resolved', 'Control_Weakness', 'Comments']

data[categorical_cols] = data[categorical_cols].astype('category')

data.info()

#The final data types of every columns are shown below, ready for visualisation and analysis.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       1010 non-null   object
 1   Department        1010 non-null   category
 2   Location          1010 non-null   category
 3   Risk_Score        989 non-null    float64
 4   Audit_Finding     841 non-null    category
 5   Finding_Date      1010 non-null   datetime64[ns]
 6   Resolved          764 non-null    category
 7   Control_Weakness  712 non-null    category
 8   Comments          690 non-null    category
dtypes: category(6), datetime64[ns](1), float64(1), object(1)
memory usage: 30.8+ KB

In [ ]:
#This is the final data result after cleaning and normalisation has been applied to over 1000 rows, and 9 different columns

#Showing the first 40 rows out of the 1010 rows that has been cleaned

data.head(40)

,Employee_ID,Department,Location,Risk_Score,Audit_Finding,Finding_Date,Resolved,Control_Weakness,Comments
0,E10000,Retail Banking,Sydney,NaN,Yes,2022-02-05,No,Medium,Follow-Up
1,E10001,Retail Banking,Brisbane,47.93,Yes,2021-07-17,Yes,Medium,NaN
2,E10002,Operations,Adelaide,59.72,Pending,2022-10-22,Yes,Critical,Follow-Up
3,E10003,Internal Audit,Perth,72.85,No,2023-12-07,No,NaN,NaN
4,E10004,Retail Banking,Brisbane,46.49,Pending,2022-02-03,NaN,Medium,Follow-Up
5,E10005,Risk & Compliance,Adelaide,46.49,Pending,2021-03-19,No,Low,NaN
6,E10006,Operations,Melbourne,73.69,NaN,2021-05-04,NaN,NaN,NaN
7,E10007,Risk & Compliance,Brisbane,61.51,Yes,2021-03-16,Yes,Low,Incomplete
8,E10008,Internal Audit,Melbourne,42.96,NaN,2021-05-17,Yes,NaN,Follow-Up
9,E10009,Risk & Compliance,Brisbane,58.14,Yes,2022-08-25,Yes,Critical,Reviewed
10,E10010,Retail Banking,Brisbane,43.05,Yes,2023-04-17,Yes,Medium,Needs Review
11,E10011,Wealth Management,Perth,43.01,No,2022-05-15,No,Critical,Incomplete
12,E10012,Operations,Melbourne,53.63,Yes,2021-05-18,Yes,NaN,Reviewed
13,E10013,Operations,Perth,21.30,No,2021-02-19,Yes,High,NaN
14,E10014,Internal Audit,Brisbane,24.13,Yes,2023-08-31,NaN,Medium,Follow-Up
15,E10015,Internal Audit,Perth,41.57,NaN,2021-09-11,Yes,Critical,Incomplete
16,E10016,Wealth Management,Sydney,34.81,Yes,2022-12-11,Yes,NaN,Follow-Up
17,E10017,Operations,Melbourne,54.71,NaN,2022-07-17,No,High,NaN
18,E10018,Retail Banking,Perth,36.38,Pending,2023-01-27,Yes,NaN,Incomplete
19,E10019,Wealth Management,Adelaide,28.82,Pending,2022-07-01,Yes,Low,NaN
20,E10020,Operations,Adelaide,71.98,Yes,2023-07-11,NaN,Low,NaN
21,E10021,Wealth Management,Sydney,46.61,Yes,2022-08-04,NaN,NaN,NaN
22,E10022,Retail Banking,Brisbane,51.01,NaN,2021-02-18,No,Medium,Follow-Up
23,E10023,Operations,Brisbane,28.63,No,2023-07-06,NaN,Low,Needs Review
24,E10024,Wealth Management,Sydney,41.83,NaN,2022-12-05,NaN,Medium,NaN
25,E10025,Risk & Compliance,Perth,51.66,No,2021-09-18,NaN,NaN,Reviewed
26,E10026,Internal Audit,Sydney,32.74,Pending,2021-12-22,NaN,Medium,Needs Review
27,E10027,Operations,Melbourne,55.64,Yes,2022-09-30,Yes,Medium,NaN
28,E10028,Internal Audit,Brisbane,40.99,Yes,2023-01-13,No,Low,Incomplete
29,E10029,Retail Banking,Perth,45.62,No,2023-10-07,Yes,NaN,Incomplete
30,E10030,Internal Audit,Sydney,40.97,NaN,2023-07-20,NaN,Critical,Needs Review
31,E10031,Operations,Perth,77.78,Pending,2022-10-03,NaN,NaN,Incomplete
32,E10032,Internal Audit,Perth,49.80,No,2023-03-03,No,Medium,NaN
33,E10033,Retail Banking,Melbourne,34.13,NaN,2022-09-04,NaN,High,Needs Review
34,E10034,Operations,Adelaide,62.34,Yes,2023-03-20,Yes,Low,Follow-Up
35,E10035,Internal Audit,Brisbane,31.69,Yes,2022-11-17,No,Medium,NaN
36,E10036,Internal Audit,Perth,53.13,No,2021-07-07,Yes,High,NaN
37,E10037,Retail Banking,Brisbane,20.60,Yes,2023-09-12,Yes,High,NaN
38,E10038,Internal Audit,Perth,30.08,No,2022-07-02,No,NaN,Follow-Up
39,E10039,Risk & Compliance,Melbourne,52.95,Pending,2022-12-26,Yes,Medium,NaN